<div class="row">
  <div class="col-sm-8">
    <clr-datagrid>
      <clr-dg-column clrDgField="character_chosen">Class</clr-dg-column>
      <clr-dg-column clrDgField="score">Score</clr-dg-column>
      <clr-dg-column clrDgField="floor_reached">Floor</clr-dg-column>

      <clr-dg-row *clrDgItems="let run of runs$ | async">
        <clr-dg-cell>{{run.character_chosen}}</clr-dg-cell>
        <clr-dg-cell>{{run.score}}</clr-dg-cell>
        <clr-dg-cell>{{run.floor_reached}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="15">
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{(runs$ | async).length}} runs
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        Ironclad vs The Silent
      </div>
      <div class="card-block">
        <div class="card-text">
          <app-playcount [runs]="runs$ | async"></app-playcount>
        </div>
      </div>
    </div>
  </div>
</div>