<div class="row">
  <div class="col-sm-6">
    <clr-datagrid [clrDgSingleSelected]="selected$ | async" (clrDgSingleSelectedChange)="selected$.next($event)" [clDgRowSelection]="true">
      <clr-dg-column clrDgField="name">Name</clr-dg-column>
      <clr-dg-column clrDgField="runs">Runs</clr-dg-column>
      <clr-dg-column clrDgField="wins">Wins</clr-dg-column>
      <clr-dg-column clrDgField="winRate">Win%</clr-dg-column>
      <clr-dg-column clrDgField="pickRate">Pick%</clr-dg-column>

      <clr-dg-row *clrDgItems="let item of list$ | async" [clrDgItem]="item.name">
        <clr-dg-cell>{{item.name}}</clr-dg-cell>
        <clr-dg-cell>{{item.runs}}</clr-dg-cell>
        <clr-dg-cell>{{item.wins}}</clr-dg-cell>
        <clr-dg-cell>{{item.winRate | percent}}</clr-dg-cell>
        <clr-dg-cell>{{item.pickRate | percent}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="15">
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{(list$ | async).length}} cards
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
  <div *ngIf="selected$ | async as selected" class="col-sm-6">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Runs by Count
          </div>
          <div class="card-block">
            <div class="card-text">
              <app-run-count [card]="selected" [runCard]="runCard$ | async"></app-run-count>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Win% by Count
          </div>
          <div class="card-block">
            <div class="card-text">
              <app-winrate-count [card]="selected" [runCard]="runCard$ | async" [runEntities]="runEntities$ | async"></app-winrate-count>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Runs by Upgrade (Max in deck)
          </div>
          <div class="card-block">
            <div class="card-text">
              <app-run-upgrade [card]="selected" [runCard]="runCard$ | async"></app-run-upgrade>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Win% by Upgrade (Max in deck)
          </div>
          <div class="card-block">
            <div class="card-text">
              <app-winrate-upgrade [card]="selected" [runCard]="runCard$ | async" [runEntities]="runEntities$ | async"></app-winrate-upgrade>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>